<div class="jumbotron container col-md-3">
  <h1 class="text-center">Edit Issuer</h1>
  <%= form_for @issuer,validate: true do |f|%>
    <div class="form-group">
      <%= f.label :email%>
      <%= f.text_field :email,class:"form-control" ,required:true%>
    </div>
    <div class="form-group">
      <%= f.label "First Name"%>
      <%= f.text_field :fname,class:"form-control",required:true%>
    </div>
    <div class="form-group">
      <%= f.label "Last Name"%>
      <%= f.text_field :lname,class:"form-control",required:true%>
    </div>
    <div class="form-group">
      <%= f.label :balance%>
      <%= f.number_field :balance,class:"form-control",required:true%>
    </div>
    <div class="form-group">
      <%= f.label :image%>
      <%= f.file_field :image,class:"form-control",required:true%>
    </div>
    <div class="form-group">
      <%= f.label :status%>
      <%= f.select(:status,options_for_select([['Active','active'],['Inactive','inactive']]),{},class:"form-control")%>
    </div>
    <%= f.submit "Update",class:"btn btn-primary"%>
  <%end%>
</div>

